@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
	background-color: #fff;
	margin: 0;
}

#canvas {
	position: absolute;
	margin: auto;
	padding: 0;
	z-index: -1;
}

#topbar ul li {
	margin: 0;
	list-style-type: none;
	display: inline;
	font-family: Dosis, sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	

}

#topbar ul {
	border-right: 0;
	float: left;
	padding: 0; 
	display:block;
}

#topbar li a {
	text-decoration: none;
	color: black;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
  background-color: rgba(230,230,230,0.9);
	transition:background-color 0.5s;
	-moz-transition:background-color 0.5s;
	-webkit-transition:background-color 0.5s;
	-o-transition:background-color 0.5s;

	border-radius: 10px;
	-moz-boder-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}


#topbar ul li a:hover {
	background-color: rgba(140, 45, 25, 0.75);
}

#topbar li img {
	vertical-align: top;
	margin-right: 5px;
}

#topbar {
	margin: auto;
	width: 75%;
	display: block;
}

#logo {
	float: right;
	display: block;
	margin-top: 2%;
}

#content {
	width: 70%;
	margin: 0 auto;
}


