body {
	margin:0px;
	margin-left: 80px;
	background-color: rgb(51,102,153);
	font-family: sans-serif;
	text-align: justify;
}

.student_table tr, .student_table td, .student_table h3 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 110%;
}

.student_table {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
}

td.name {
	width: 700px;
}

td.file {
	width: 200px;
}

h3.error {
	margin: 2px;
}

.submited {
	color: green;
}

.not_submited {
	color: red;
}

.button {
	background: rgb(51,102,153);	
	width: 150px;
	color: white;
	padding: 5px 10px 5px 10px;
	border: 0px;
	font-weight: bolder;
	font-size: 100%;
}

#file_div .button {
	margin: 5px;
}

.input {
	width: 600px;
}

.button:hover {
	background: rgb(11, 62, 100);
	cursor: pointer;
}

h1 {
	background-color: rgb(51,102,153);
	color: white;
}

h2 {
	background-color: rgb(90,140,200);
}

h3 {
	background-color: rgb(140,180,250);
}

body div {
	background-color: white;
}

h2 {
	padding-bottom: 10px;
}

h1, h2{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

h3 {
	margin: 0px;
	border: 0px;
	padding: 0px;
	padding-left: 10px;
	font-size: 150%;
}

