@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
	background-color: #fff;
	margin: 0;
}

#canvas {
	position: absolute;
	margin: 0;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	padding: 0;
	z-index: -1;
	overflow: hidden;
}

#topbar ul li {
	margin: 0;
	list-style-type: none;
	display: inline;
	font-family: Dosis, sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}

#topbar ul {
	border-right: 0;
	float: left;
	padding: 0; 
	display:block;
}

#topbar li a {
	text-decoration: none;
	color: black;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
  background-color: rgba(230,230,230,0.9);
	transition:background-color 0.5s;
	-moz-transition:background-color 0.5s;
	-webkit-transition:background-color 0.5s;
	-o-transition:background-color 0.5s;

	border-radius: 10px;
	-moz-boder-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}


#topbar ul li a:hover {
	background-color: rgba(140, 45, 25, 0.75);
}

#topbar ul li a:active {
}

#topbar li img {
	vertical-align: top;
	margin-right: 5px;
}

#topbar {
	margin: auto;
	width: 75%;
	display: block;
}

#topbar:after {
	content:'';
	display:table;
}

#topbar:after {
	clear: both;
}

#logo {
	float: right;
	display: block;
	margin-top: 2%;
}

#first.slider-element {
}

.slider-element {
}

#first {
	width: 15%;
	position: relative;
	left: 60%;
}

.slider-element h1, .slider-element h2, .slider-element p {
	padding: 5px;
	border: 1px solid #aaa;
	border-left: 0;
	border-right: 0;
	background: rgba(220, 220, 220, 0.80);
}

.slider-element {
	font-family: Dosis, sans-serif;
}

.regular-slide {
	width: 50%;
	margin: 0 auto;
}

#main {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#full, #light {
	width: 30%;
	padding:20px;

}

#download-slide {
}

#download-container {
	overflow: hidden;
	height: 1%;
	background: rgba(220, 220, 220, 0.5);
	border: 1px solid #AAA;
	border-left: 0;
	border-right: 0;
}

#light {
	margin-left: 10%;
	float: left;
}

#full {
	margin-right: 10%;
	float: right;
}

#full img, #light img {
	vertical-align: middle;
	margin-right: 3px;
}

#full a, #light a {
	font-weight:bold;
	text-align: middle;
	text-decoration: none;
	color: black;
	padding: 5px;
	padding-top: 4px;
	padding-bottom: 7px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: rgba(220, 220, 220, 0.8);
	margin: 0 auto;

	transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-webkit-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
}

#full a:hover, #light a:hover {

	background: rgba(140, 45, 25, 0.75);
}
